---
import { Image } from "astro:assets";


const {srcImage, bgColor, title, technology, description} = Astro.props;
---
<div class="flex flex-col h-full overflow-hidden rounded-xl border border-gray-200">
  <div class={`${bgColor} w-full flex justify-center items-center py-4 rounded-t-xl`}>
    <Image
    src={srcImage}
    alt=`Imagen proyecto ${title}`
    class="h-100 w-50"
    />
  </div>

  <div class="px-4 py-4<w bg-gray-100 grow">
    <h1 class="text-xl font-semibol">
      {title}
    </h1>
    <h2 class="text-blue-500 py-2">
      {technology}
    </h2>
    <p class="text-start text-sm text-gray-700 wrap-break-word ">
      {description}
    </p>
    <a href="" class="button inline-flex gap-2 px-6 py-3 my-4  rounded-lg hover:bg-opacity-90 transition shadow-md">
      <span>Ver detalles</span>
      <i class="fa-solid fa-arrow-right text-2xl"></i>
    </a>
  </div>

</div>