---
import { Image } from "astro:assets";
const { srcImage, bgColor, title, technology, description } = Astro.props;
---
<div class="group flex flex-col h-full overflow-hidden rounded-xl border border-gray-200 hover:shadow-lg transition-shadow duration-300 shadow-md">
  
  <div class={`${bgColor} relative w-full flex justify-center items-center py-4 rounded-t-xl overflow-hidden`}>
    
    <Image
      src={srcImage}
      alt={`Imagen proyecto ${title}`}
      class="h-80 w-auto object-contain transition-transform duration-500 group-hover:scale-110"
    />

    <div class="absolute inset-0 bg-black/40 backdrop-blur-sm flex flex-col justify-center items-center opacity-0 group-hover:opacity-100 transition-all duration-300 translate-y-4 group-hover:translate-y-0">
      <span class="text-white font-medium border border-white px-4 py-2 rounded-full hover:bg-white hover:text-black transition-colors cursor-pointer">
        Ver más información
      </span>
    </div>
  </div>

  <div class="bg-(--color-secondary) text-white px-4 py-4 grow">
    <h1 class="text-xl font-semibold">
      {title}
    </h1>
    <h2 class="text-blue-500 py-1 font-medium text-sm">
      {technology}
    </h2>
    <p class="text-start text-sm wrap-break-word line-clamp-3">
      {description}
    </p>
  </div>
</div>
